
body
{
	background-image: url(images/white.jpg);
	background-size: cover;
}



h2, h3
{
	color: AA5F39;
	border: 5px dashed AA5F38;
	text-align: center;
}

p
{
	color: darkblue;
	//font-family: 'Raleway', sans-serif;
	font-size: large;
	line-height: 25px;
}

li
{
	list-style-type: none;
}

#languages
{
	color: darkgoldenrod;
	font-size: medium;
	font-family: 'Raleway', sans-serif;
}

.inProgress
{
	text-align: left;
	border: 2px dashed rgba(255, 0, 0, 0.5);
	border-width: 10px;
	display: inline-block;
	color: darkgoldenrod;
	font-family: Raleway;
	padding: 2px 2px;
}

.end
{
	border: 2px solid rgba(0, 0, 255, 0.2);
	display: inline-block;
	padding: 10px 4px;
	margin: 5px 5px;
}


